#!/bin/bash

echo "brew bundle --global"
# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

# ... assuming brew has installed, either in this script or externally
if [ -x "$(command -v brew)" ]; then
  # Use ~/.Brewfile (home/dot_Brewfile from this repo) to install packages
  brew bundle --global
fi
