KeepAlive yes
ServerAliveInterval 60

Host *
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin"}}
  UseKeychain yes
  IdentityFile ~/.ssh/identity
{{- end }}

Host mycloudex2ultra.local
  HostName mycloudex2ultra.local
  User sshd
  SetEnv TERM=xterm-256color
