KeepAlive yes
ServerAliveInterval 60

Host *
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin"}}
  UseKeychain yes
  IdentityFile ~/.ssh/identity
{{- end }}

Host qnap.shire-universe.ts.net
  Host qnap.shire-universe.ts.net
  User manager
  SetEnv TERM=xterm-256color
