KeepAlive yes
ServerAliveInterval 60

Host delta.local
  HostName delta.local
  User jamie

Host *
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin"}}
  UseKeychain yes
  IdentityFile ~/.ssh/identity
{{- end }}
